<?xml version="1.0"?>
<config>
    <modules>
        <Salore_Solr>
            <version>1.0.0</version>
        </Salore_Solr>
    </modules>
    <global>
        <models>
            <solr>
                <class>Salore_Solr_Model</class>
                <resourceModel>solr_resource</resourceModel>
            </solr>
            <solr_resource>
                <class>Salore_Solr_Model_Resource</class>
                <deprecatedNode>solr_mysql4</deprecatedNode>
            </solr_resource>
        </models>
        <resources>
            <solr_setup>
                <connection>
                    <model><![CDATA[solr]]></model>
                    <config>default</config>
                    <server>http://localhost:8984/solr/</server>
                    <username><![CDATA[]]></username>
                    <password><![CDATA[]]></password>
                    <solrcore><![CDATA[english]]></solrcore>
                    <type><![CDATA[solr]]></type>
                    <active>1</active>
                </connection>
            </solr_setup>
            <solr_read>
                <connection>
                    <use>solr_setup</use>
                </connection>
            </solr_read>
            <solr_write>
                <connection>
                    <use>solr_setup</use>
                </connection>
            </solr_write>
        </resources>
        <resource>
            <connection>
                <types>
                    <solr>
                        <adapter>Salore_Solr_Adapter_Solr</adapter>
                    </solr>
                </types>
            </connection>
        </resource>
        <blocks>
            <solr>
                <class>Salore_Solr_Block</class>
            </solr>
        </blocks>
        <helpers>
            <solr>
                <class>Salore_Solr_Helper</class>
            </solr>
        </helpers>
        <events>
            <salore_salon_approved_after>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>solr/observer</class>
                        <method>salonApprovedAfter</method>
                    </salon>
                </observers>
            </salore_salon_approved_after>
            <salore_salon_unapproved_after>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>solr/observer</class>
                        <method>salonDeleteAfter</method>
                    </salon>
                </observers>
            </salore_salon_unapproved_after>
            <salore_salon_deleted_after>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>solr/observer</class>
                        <method>salonDeleteAfter</method>
                    </salon>
                </observers>
            </salore_salon_deleted_after>
            <mongo_salon_save_after>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>solr/observer</class>
                        <method>salonSaveAfter</method>
                    </salon>
                </observers>
            </mongo_salon_save_after>
        </events>
    </global>
</config>