<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Salore_Classified>
            <version>1.0.0</version>
        </Salore_Classified>
    </modules>
    <global>
        <models>
            <classified>
                <class>Salore_Classified_Model</class>
                 <resourceModel>classified_resource</resourceModel>
            </classified>
             <classified_resource>
                <class>Salore_Classified_Model_Resource</class>
                <deprecatedNode>classified_mysql4</deprecatedNode>
                <entities>
                    <posts>
                        <table>salore_classified_posts</table>
                    </posts>
                    <category>
                        <table>salore_classified_category</table>
                    </category>
                </entities>                               
            </classified_resource>
        </models>
        <helpers>
            <classified>
                <class>Salore_Classified_Helper</class>
            </classified>
        </helpers>
        <blocks>
            <classified>
                <class>Salore_Classified_Block</class>
            </classified>
        </blocks>
    </global>
    <frontend>
        <routers>
            <classified>
                <use>standard</use>
                <args>
                    <module>Salore_Classified</module>
                    <frontName>classified</frontName>
                </args>
            </classified>
        </routers>
        <layout>
            <updates>
                <classified>
                    <file>salore_classified.xml</file>
                </classified>
            </updates>
        </layout>
    </frontend>
     <admin>
        <routers>
            <classified_admin>
                <use>admin</use>
                <args>
                    <module>Salore_Classified</module>
                    <frontName>classified_admin</frontName>
                </args>
            </classified_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <classified>
                    <file>salore_classified.xml</file>
                </classified>
            </updates>
        </layout>
    </adminhtml> 
</config>
