body{
	/*background-color: #f9fafa;*/
	background-color: #ffffff;
}

h1, .h1 {
    font-size: 32px;
}

h2, .h2 {
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-weight: 200;
}



label {
    font-weight: 300;
    margin-bottom: 3px;
}

.radio label, .checkbox label {
    font-weight: 300;
}


.container {
    width: 96%;
}

#nk-header {
    /*background: none repeat scroll 0 0 #fff;*/
    border-bottom: 1px solid #e0e0e0;
   /*  padding-bottom:7px; */
}

#nk-header .search-wrapper
{
	padding-left: 5px;
}

.form-control {
	box-shadow: none;
	border-radius: 0;
	border-color: #aaa;
}

.nk-form-wrapper {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    padding: 15px;
}

.my-account .page-title > h1{
	margin-bottom: 10px;
    margin-top: 0;
}

.my-account .page-title > h2{
    margin-top: 0;
}

.my-account .page-title
{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.block-account .nav > li > a
{
	padding: 10px 0;
}

.block-account .nav > li > a:hover, .block-account .nav > li > a:focus
{
	background: none;
	text-decoration: underline;
}

.my-account .nk-form-wrapper {
    padding: 0;
}

.form-group {
    margin-bottom: 10px;
}

label > em {
    float: right;
    margin-left: 3px;
    padding-top: 4px;
}

.navbar-brand {
    padding: 8px 0;
}

.nk-width-fluid
{
	width: 100%;
}

.navbar-form {
    padding-left: 0;
    padding-right: 0;
}

.nk-top-search, .nk-brand{
	/*padding-top: 8px;*/
}

.nk-top-search .btn-default {
    background: none repeat scroll 0 0 #fff;
    box-shadow: none;
}

.nk-top-search .btn-default:hover, .nk-top-search .btn-default:focus {
    background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);
}

.nk-top-search input.form-control:focus{
	background: #f8f8f8;
}

.btn{
	border-radius: 0;
}

.btn-default{
	border-color: #aaa;
}

.nk-account-icon
{
	font-size: 17px;
}
.toplinks .dropdown-menu > li > a {
    padding: 10px 12px;
}

.toplinks .dropdown-menu {
    min-width: 125px;
}

.toplinks .dropdown-menu li {
    text-align: center;
}

.toplinks li.dropdown{
	min-height: 50px;
}

.validation-failed {
    border-color: #8a6d3b;
}

.validation-advice {
    color: #a94442;
    font-size: 13px;
    font-weight: 500;
}

/*********buttons************/
.nk-btn-default {
    background: none repeat scroll 0 0 #368aa9;
    color: #fff;
    font-size: 16px;
    padding: 0.563em 1.875em;
}

/********layout-2cols-left*******/
body.layout-2cols-left{
	background: #FFFFFF;
}
/* body.layout-2cols-left .content
{
    float: right;
} */

body.layout-2cols-left .side-bar {
    height: 100%;
    /* overflow-y: auto;
    position: fixed;
    top: 53px;
    z-index: 1000;
    padding: 15px; */
}

.gallery-sidebar .gallery-wrapper .fancybox{
	border: 1px solid #f8f8f8;
    display: table-cell;
    float: left;
    height: 60px;
    margin-bottom: 7px;
    margin-right: 7px;
    overflow: hidden;
    vertical-align: middle;
    width: auto;
}
.gallery-sidebar .gallery-wrapper .fancybox img{
	float: left;
	width: 64px;
}

/* @media screen and (min-width: 768px){
	body.layout-2cols-left .side-bar {
    	padding-right: 0;
	}
} */

body.layout-2cols-left .side-bar .box{
	border: 1px solid #e0e0e0;
	padding: 0 10px 10px;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

body.layout-2cols-left .side-bar .general-info{
	padding-top: 10px;
}

body.layout-2cols-left .nk-form-wrapper {
    border: none;
}

/*********layout 1 column************/
body.layout-1col .content
{
	min-height: 500px;
	padding-top: 5px;
}

/**FAcebook comment***/
.facebook-comment-loading {
    background: url("../images/loading.gif") no-repeat scroll -70px -120px transparent;
    height: 120px;
}

/*******FOOTER*************/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;*/
  padding-top: 60px;
}
.footer {
  	/*position: absolute;*/
	/*   bottom: 0; */
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	/*background-color: #f5f5f5;*/
  	border-top: 1px solid #e0e0e0;
  	margin-top: 30px;
}

.footer-section > ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 5px;
}

.footer-section li {
    padding: 5px 0;
}

a.footer-link {
    color: #767676;
    font-weight: 300;
    padding: 11px 0;
}

.footer h3{
	font-size: 20px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.control-label > em {
    color: red;
}

#dealerlocator_form{
	margin: 9px 0px 0px;
}

#search-popup {
	border: #e7e7e7 1px solid;
	border-top: none;
}

#search-popup li {
	padding: 5px 11px 5px;	
}

#search-popup ul{
	padding-top: 6px;
}

#search-popup li:hover{
	background: #e9e9e9;
}

.nk-top-search {
	position: relative;
	margin-bottom: 0px;
}

#search-popup {
	width: 100%;
	z-index: 99;
	background: #fff;
	position: absolute;
}

/* #dealerlocator_postcode{
	border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    height: 28px;
}

.nk-top-search span.input-group-btn{
	height: 28px;
}

.nk-top-search button {
	border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    height: 28px;
}
 */

:-webkit-input-placeholder {
   color: #ccc;
    font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
    font-size: 12px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
    font-size: 12px;
}

:-ms-input-placeholder {  
   color: #ccc;  
}

/*******CAROUSEL****/
.carousel-inner > .item {
    height: 300px;
    overflow: hidden;
}
.layout-2cols-left .content-wrapper{
	margin-top: 10px;
}
.salon-menu-wrapper{
	width: 100%;
	float: left;
	background: #f0f0f0;
}
.salon-menu-wrapper li a{
	color: #333;
}
.salon-menu-wrapper .nav li a:focus, .salon-menu-wrapper .nav li a:hover{
	background: #dfdfdf;
}

.register-wrapper, .customer-create-wrapper, .customer-login-wrapper, .customer-forgot-password-wrapper{
	padding-left: 5px;
}

.item-box {
	margin: 3px;
	border-radius: 0;
	border: #e7e7e7 1px solid;
	text-align: center;
	margin-bottom: 15px;
	padding: 9px;
	box-shadow: none;
}
.img-box{
	min-height: 60px;
	overflow: hidden;
}
/**************************/

.panel-default > .panel-heading {
    background-image: none;
    background-repeat: repeat-x;
}
.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}

.panel {
    box-shadow: none;
}
.panel-default {
    border: medium none;
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
}

blockquote{
    font-size: 14px;
    margin: 0;
    padding: 10px 0 5px 5px;
}

.filter-option.pull-left > img {
    height: 20px;
}

.salon-menu-wrapper {
	margin-bottom: 15px;
}

.service-list div {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.selected-item .close-icon {
    height: 15px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 1px;
    width: 16px;
}

#selected-item-wrapper .selected-item {
    border-bottom: 1px solid #e7e7e7;
    padding: 5px;
}

.selected-item {
    position: relative;
}

.selected-item div:nth-child(1) {
    font-weight: bold;
}

#submit-checkout-wrapper {
    border-top: 1px solid #e7e7e7;
    margin-top: 8px;
}

#submit-checkout-wrapper button {
    border: medium none;
    border-radius: 0;
    padding: 7px 0;
    width: 100%;
}

#total-price-services {
    padding-top: 5px;
}


.favour{
    background: url("../images/sprite.png") no-repeat scroll -15px -16px #f1f2f6;
    border-radius: 50%;
    display: block;
    height: 20px;
    transition: background-color 600ms ease-in-out 0s, background-position 600ms ease-in-out 0s;
    width: 20px;
    z-index: 99;
    float:right;
}

.item-favour {
	border-bottom: #e7e7e7 solid 1px;
}

.item-favour:last-child {
	border-bottom: none;
}

.item-favour .close {
	position: absolute;
	top: 0px; 
	right: 3px;
}
.item-favour em{
	height: 39px; 
	width: 39px; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	margin-left: 7px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
}

.label-default {
    background-color: #000;
}

.number-appointment {
	margin-top: 2px;
	padding-top: 4px;
	background: none repeat scroll 0 0 #fff;
    border-radius: 9px;
    color: #333;
}

.navbar-nav > li > a {
    line-height: 24px;
}

.open .number-appointment  {
	color: #000;
	background-color: #fff;
}

/**********BACKGROUND*************/
.san-francisco-bg{
	background: url("../images/bg/san-francisco.png") no-repeat scroll -1px -259px #556694;
}
.san-francisco-bg .navbar-nav > li > a {
    color: #f8f8f8;
}
.lotus-flower-bg{
	background: url("../images/bg/lotus.png") no-repeat scroll 0px 0px #1b4711;
}
.lotus-flower-bg .navbar-nav > li > a {
    color: #f8f8f8;
}
.orchid-flower-bg{
	background: url("../images/bg/orchid.png") no-repeat scroll -47px -175px #8c9eb4
}
.orchid-flower-bg .navbar-nav > li > a {
    color: #ffffff;
}


#front-login-wrapper .login-panel {
	margin-top: 13%;
	padding: 15px;
	border-radius: 0px;
}

#front-login-wrapper .login-panel form input.form-control {
	background-color: #efefef;
}

#front-login-wrapper .login-panel .btn-login {
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 6px;
}

.pages {
	text-align: center;
}