<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Salore_Mongo>
            <version>1.0.1</version>
        </Salore_Mongo>
    </modules>
    <global>
        <resources>
            <mongo_setup>
                <connection>
                    <model><![CDATA[mongo]]></model>
                    <config>default</config>
                    <server>localhost</server>
                    <username><![CDATA[]]></username>
                    <password><![CDATA[]]></password>
                    <database><![CDATA[salore]]></database>
                    <type><![CDATA[mongo]]></type>
                    <active>1</active>
                </connection>
            </mongo_setup>
            <mongo_read>
                <connection>
                    <use>mongo_setup</use>
                </connection>
            </mongo_read>
            <mongo_write>
                <connection>
                    <use>mongo_setup</use>
                </connection>
            </mongo_write>
        </resources>
        <resource>
            <connection>
                <types>
                    <mongo>
                        <adapter>Salore_Mongo_Adapter_Mongo</adapter>
                    </mongo>
                </types>
            </connection>
        </resource>
        <models>
            <mongo>
                <class>Salore_Mongo_Model</class>
                <resourceModel>mongo_resource</resourceModel>
            </mongo>
            <mongo_resource>
                <class>Salore_Mongo_Model_Resource</class>
            </mongo_resource>
        </models>
        <helpers>
            <mongo>
                <class>Salore_Mongo_Helper</class>
            </mongo>
        </helpers>
    </global>
</config>