<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Salore_Salon>
            <version>1.0.0</version>
        </Salore_Salon>
    </modules>
    <global>
        <models>
            <salon>
                <class>Salore_Salon_Model</class>
                <resourceModel>salon_resource</resourceModel>
            </salon>
            <salon_resource>
                <class>Salore_Salon_Model_Resource</class>
                <deprecatedNode>salon_mysql4</deprecatedNode>
                <entities>
                    <salon>
                        <table>salon</table>
                    </salon>
                    <service>
                        <table>service</table>
                    </service>
                    <setting>
                        <table>salon_setting</table>
                    </setting>
                    <banner>
                        <table>salon_banner</table>
                    </banner>
                    <order>
                        <table>salon_order</table>
                    </order>
                     <gallery>
                        <table>gallery</table>
                    </gallery>
                    <product>
                        <table>salon_product</table>
                    </product>
                     <staff>
                        <table>salon_staff</table>
                    </staff>
                    <contact>
                        <table>salon_contact</table>
                    </contact>
                    <menu>
                        <table>salon_menu</table>
                    </menu>
                    <reservation>
                        <table>reservation</table>
                    </reservation>
                    <page>
                        <table>page</table>
                    </page>
                     <footer>
                        <table>footer</table>
                    </footer>
                    <city>
                        <table>city</table>
                    </city>    
                    <category>
                        <table>category</table>
                    </category> 
                    <myreservation>
                        <table>myreservation</table>
                    </myreservation> 
                    <favourite>
                        <table>favourite</table>
                    </favourite>
                    <customer>
                        <table>salon_customer</table>
                    </customer>               
                </entities>                               
            </salon_resource>
            <checkout>
                <rewrite>
                    <session>Salore_Salon_Model_Checkout_Session</session>
                </rewrite>
            </checkout>
        </models>
        <helpers>
            <salon>
                <class>Salore_Salon_Helper</class>
            </salon>
        </helpers>
        <blocks>
            <page>              
               <rewrite>
                    <html_pager>Salore_Salon_Block_Html_Pager</html_pager>
                </rewrite>
              </page>
              <core>
                  <rewrite>
                      <messages>Salore_Salon_Block_Core_Messages</messages>
                  </rewrite>
              </core>
            <salon>
                <class>Salore_Salon_Block</class>
            </salon>
        </blocks>
        <events>
            <sales_order_place_after>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>Salore_Salon_Model_Observer</class>
                        <method>paymentAfterHandle</method>
                    </salon>
                </observers>
            </sales_order_place_after>
            <!-- <controller_front_init_before>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>Salore_Salon_Model_Observer</class>
                        <method>initFrontController</method>
                    </salon>
                </observers>
            </controller_front_init_before> -->
            <controller_front_init_routers>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>Salore_Salon_Model_Observer</class>
                        <method>initRouters</method>
                    </salon>
                </observers>
            </controller_front_init_routers>
            <controller_action_layout_load_before>
                <observers>
                    <salon>
                        <type>singleton</type>
                        <class>Salore_Salon_Model_Observer</class>
                        <method>handleLayoutRender</method>
                    </salon>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <template>
            <email>
                <salon_register_newsalon_email_template translate="label" module="salon">
                    <label>Register New Salon Email</label>
                    <file>newsalon_email.html</file>
                    <type>html</type>
                </salon_register_newsalon_email_template>
                <moderator_active_email_template translate="label" module="salon">
                    <label>Moderator Email Active </label>
                    <file>moderator_email_active.html</file>
                    <type>html</type>
                </moderator_active_email_template>
                <salon_send_account_info_email_template translate="label" module="salon">
                    <label>Salon Approved Email </label>
                    <file>salon_approved_email.html</file>
                    <type>html</type>
                </salon_send_account_info_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <salon>
                <use>standard</use>
                <args>
                    <module>Salore_Salon</module>
                    <frontName>salon</frontName>
                </args>
            </salon>
        </routers>
        <translate>
            <modules>
                <Salore_Salon>
                    <files>
                        <default>Salore_Salon.csv</default>
                    </files>
                </Salore_Salon>
            </modules>
        </translate>
        <layout>
            <updates>
                <salon>
                    <file>salore_salon.xml</file>
                </salon>
            </updates>
        </layout>
    </frontend>
     <admin>
        <routers>
            <salon_admin>
                <use>admin</use>
                <args>
                    <module>Salore_Salon</module>
                    <frontName>sbsalon</frontName>
                </args>
            </salon_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <salon>
                    <file>salore_salon.xml</file>
                </salon>
            </updates>
        </layout>
    </adminhtml> 
    <default>
        <design>
            <package>
                <name>salore</name>
            </package>
        </design>
        <web>
            <default>
                <front>salon</front>
            </default>
        </web>
          <salon>
               <settings>
                    <salon_email>info@nailkare.com</salon_email>
                    <salon_fullname>Nailkare Team</salon_fullname>
                    <salon_moderator>0</salon_moderator>
               </settings>
          </salon>
         <!--  <customer>
            <account_share>
                <scope>0</scope>
            </account_share>
        </customer> -->
     </default>
</config>
